.color {
  @apply px-7 py-2 text-xl inline-block;
}

.red {
  background: var(--primary-color);
  color: white;
}

.cyan {
  background: var(--cyan-color);
  color: black;
}

.green {
  background: var(--green-color);
  color: black;
}

.pink {
  background: var(--pink-color);
  color: white
}

.blue {
  background: var(--blue-color);
  color: white
}

.yellow {
  background: var(--yellow-color);
  color: black
}

.white {
  background: white;
  color: black;
  border: 1px solid var(--text-color);
}

.black {
  background: black;
  color: white;
  border: 1px solid var(--text-color);
}

