.color {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color var(--transition);
  }

  &:hover:after {
    background-color: rgba(var(--inveted-bg-color), 0.2);
  }
}

.red {
  background: var(--primary-color);
  color: white;
}

.cyan {
  background: var(--cyan-color);
  color: black;
}

.green {
  background: var(--green-color);
  color: black;
}

.pink {
  background: var(--pink-color);
  color: white
}

.blue {
  background: var(--blue-color);
  color: white
}

.yellow {
  background: var(--yellow-color);
  color: black
}

.white {
  background: white;
  color: black;
  border: 1px solid var(--text-color);
}

.black {
  background: black;
  color: white;
  border: 1px solid var(--text-color);
}

