.userInfo {
  display: flex;
  align-items: center;
  gap: 8rem;
  margin-top: 2.5rem;
  @media (max-width: 1200px) {
    gap: 5rem;
  }
  @media (max-width: 768px) {
    gap: 3rem;
  }
  @media (max-width: 576px) {
    justify-content: center;
  }

  .infoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    .username {
      display: block;
      height: 1.5rem;
      width: 8rem;
    }

    .button {
      width: 11rem;
      height: 3rem;
      margin-top: 1rem;
    }

    .friendsCount {
      width: 1.75rem;
      height: 2.5rem;
      border-radius: var(--round-lg);
    }
  }

  .friendName {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
}