.gallery {
  padding: 2.5rem 0;

  .title {
    margin-bottom: 1.75rem;
  }

  .select {
    margin: 1.25rem 0;
  }

  .search {
    margin-bottom: 2.5rem;
  }

  .colors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 3.5rem;

    .color {
      position: relative;
      border-radius: var(--round-lg);
      cursor: pointer;
    }
    @media (max-width: 1500px) {
      gap: 2rem;
    }
    @media (max-width: 992px) {
      justify-content: center;
      gap: 1rem;
      .color {
        flex-basis: 23%;
      }
    }
    @media (max-width: 576px) {
      .color {
        flex-basis: 30%;
      }
    }
  }
}