.gallery {
  padding: 2.5rem 0;

  .title {
    margin-bottom: 1.75rem;
  }

  .select {
    margin: 1.25rem 0;
  }

  .search {
    margin-bottom: 2.5rem;
  }

  .colors {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 3.5rem;

    .color {
      position: relative;
      border-radius: var(--round-lg);
      cursor: pointer;
    }

  }
}