.post {
  padding: 1.25rem 0;
  margin-top: 2.5rem;
  border-radius: var(--round-lg);
  border: 3px solid var(--active-bg-color);
  background: var(--secondary-bg-color);

  .author {
    margin-left: 1.25rem;
  }

  .date {
    margin-left: 1.25rem;
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
  }

  .img {
    cursor: pointer;
  }

  .buttons {
    margin-left: 1.25rem;
    margin-top: 1.25rem;
  }
}