.navbar {
  @apply px-10 py-4 flex items-center justify-between;
  box-shadow: 0px 3px 8px 0px rgba(var(--inveted-bg-color), 0.1);
  background: var(--navbar-bg-color);
  flex: 0 0 auto;

  :global(.dark) & {
    box-shadow: none;
  }

  .searchForm {
    @apply flex-grow mr-10;

    .input {
      @apply w-full py-1;
    }
  }
}
