.box {
  display: flex;

  > img {
    display: flex;
    min-height: 50vh;
    max-height: 80vh;
    max-width: 60vw;
  }

  .arrow {
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 4.5rem;
    background: rgba(white, 0.2);
    color: white;
    width: 7%;
    opacity: 3%;
    transition: opacity var(--transition);

    &:hover {
      opacity: 0.2;
    }
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}