.box {
  display: flex;

  .imgOuter {
    position: relative;
  }

  .imgOuterLeft, .imgOuterRight {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
  }

  .imgOuterLeft {
    left: 0;
  }

  .imgOuterRight {
    right: 0;
  }

  .img {
    display: flex;
    max-height: 80vh;
    max-width: 60vw;

    @media (max-width: 1500px) {
      max-height: 80vh;
      max-width: 50vw;
    }
    @media (max-width: 1200px) {

    }
    @media (max-width: 992px) {

    }
    @media (max-width: 768px) {
      max-height: 90vh;
      max-width: 90vw;
    }
    @media (max-width: 576px) {

    }
  }

  .arrow {
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 4.5rem;
    background: rgba(white, 0.2);
    color: white;
    width: 7%;
    opacity: 3%;
    transition: opacity var(--transition);

    &:hover {
      opacity: 0.2;
    }
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}
