.select {
  @apply w-32 text-xl relative cursor-pointer;
  background: var(--active-bg-color);
  color: var(--text-secondary-color);

  .value {
    @apply px-3 py-1;
    border: 2px solid transparent;
  }

  .options {
    @apply absolute w-full z-10;
    background: var(--active-bg-color);
    display: none;
    top: 100%;
    color: var(--text-secondary-color);
  }

  .activeValue {
    border: 2px solid var(--text-secondary-color);
  }

  .activeDropDown {
    @apply block;
  }

  .option {
    @apply px-3 py-2;
    &:hover {
      background: rgba(var(--inveted-bg-color), 0.1);
    }
  }


}