.alert {
  @apply w-full px-5 py-2 text-xl;
  border: 3px solid var(--primary-color);
  background: var(--primary-thin-color);
  color: var(--primary-color)
}

.small {
  background: transparent;
  border: transparent;
}