.alert {
  width: 100%;
  padding: 0.5rem 1.25rem;
  border: 3px solid var(--primary-color);
  background: var(--primary-thin-color);
  color: var(--primary-color)
}

.small {
  background: transparent;
  border: transparent;
}