:root.dark {
  --bg-color: #101010;
  --active-bg-color: #39393f;
  --inveted-bg-color: 255, 255, 255;
  --navbar-bg-color: #0b0b0b;
  --secondary-bg-color: #232323;

  --text-color: white;
  --text-secondary-color: #bebec5;
  --text-thin-color: #48484f;

  --inverted-text-color: black;
}