:root {
  --bg-color: #f1f1f1;
  --active-bg-color: #d9dae8;
  --inveted-bg-color: 16, 16, 16;
  --secondary-bg-color: white;
  --navbar-bg-color: white;

  --text-color: black;
  --text-secondary-color: #101010;
  --text-thin-color: #39393f;

  --inverted-text-color: white;
}