:root {
  --primary-color: #ff3838;
  --primary-thin-color: rgba(255, 56, 56, 0.3);
  --primary-dark-color: #E3000E;

  --cyan-color: rgba(38, 208, 187,1);
  --yellow-color: rgba(226, 226, 68, 1);
  --pink-color: rgba(217, 80, 217, 1);
  --green-color: rgba(38, 174, 38, 1);
  --blue-color: rgba(41, 41, 208, 1);

  --bg-color: #f1f1f1;
  --active-bg-color: #d9dae8;
  --inveted-bg-color: 16, 16, 16;
  --secondary-bg-color: white;
  --navbar-bg-color: white;

  --text-color: black;
  --text-secondary-color: #101010;
  --text-thin-color: #39393f;

  --inverted-text-color: white;
}