.box {
  @apply flex justify-center items-center rounded-full text-3xl overflow-hidden;
  background: var(--active-bg-color);
  color: var(--text-secondary-color);

  img {
    @apply w-full h-full object-cover;
  }
}

.box.xs {
  width: 40px;
  height: 40px;
}

.box.sm {
  width: 50px;
  height: 50px;
}

.box.lg {
  width: 120px;
  height: 120px;
}

.box.xl {
  width: 300px;
  height: 300px;
}
