.info {
  position: relative;
  padding: 2.5rem;
  background: var(--bg-color);
  width: 450px;

  .username {
    margin-top: 1rem;
  }

  .buttons {
    position: absolute;
    display: flex;
    gap: 1.25rem;
    bottom: 2.5rem;
  }
}