.switcher {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: all var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: var(--active-bg-color);
  }
}

.big {
  width: 4rem;
  height: 4rem;
  font-size: 1.75rem ;
}
