.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100vw;

  .content {
    overflow: hidden;
    border-radius: var(--round-xl);
  }
}
