@font-face {
  font-family: 'DockerOne';
  src: url('../../assets/fonts/DOCKERONE.eot');
  src: url('../../assets/fonts/DOCKERONE.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/DOCKERONE.woff2') format('woff2'),
  url('../../assets/fonts/DOCKERONE.woff') format('woff'),
  url('../../assets/fonts/DOCKERONE.ttf') format('truetype'),
  url('../../assets/fonts/DOCKERONE.svg#DOCKERONE') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

