.outer {
  @apply flex flex-col;
  height: 100vh;

  .content {
    @apply relative h-full flex justify-center items-center;
    background-size: 10% !important;

    &:before {
      content: '';
      @apply absolute top-0 bottom-0 left-0 right-0;
    }
  }
}

.layout {
  @apply flex flex-col;
  min-height: 100%;

  .content {
    position: relative;
    flex: 1
  }
}

.center {
  @apply flex items-center justify-center;
}