.main {
  padding: 350px 0;
  background: url("../../../assets/main-bg.jpg");
  @apply relative bg-cover bg-fixed flex items-center justify-center;

  &:before {
    content: "";
    @apply absolute top-0 bottom-0 left-0 right-0 opacity-10;
    background: var(--bg-color);

    :global(.dark) & {
      @apply opacity-50;
    }
  }

  .info {
    z-index: 1;
    text-align: center;
    @apply px-10 py-5;
    background: rgba(white, 0.8);
    :global(.dark) & {
      background: rgba(black, 0.5);
    }

    .title {
      @apply text-7xl font-bold mb-7;

    }

    .subtitle {
      @apply text-2xl mb-5;
      color: var(--text-secondary-color);
    }
  }
}

