.main {
  padding: 350px 0;
  background-image: url("../../../assets/main-bg.jpg");
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.1;
    background: var(--bg-color);

    :global(.dark) & {
      opacity: 0.5;
    }
  }

  .info {
    z-index: 1;
    text-align: center;
    padding: 1.25rem 2.5rem;
    background: rgba(white, 0.8);
    :global(.dark) & {
      background: rgba(black, 0.5);
    }

    .title {
      font-size: 4rem;
      font-family: 'DockerOne', serif;
      letter-spacing: 5px;
    }

    .subtitle {
      font-size: 1.4rem;
      margin-bottom: 1.25rem;
      color: var(--text-secondary-color);
    }
  }

  .button {
    margin: 0 auto;
  }
}

