.userInfo {
  display: flex;
  align-items: center;
  gap: 8rem;
  margin-top: 2.5rem;
  @media (max-width: 1200px) {
    gap: 5rem;
  }
  @media (max-width: 768px) {
    gap: 3rem;
  }
  @media (max-width: 576px) {
    justify-content: center;
  }

  .infoBlock {
    text-align: center;
    display: flex;
    flex-direction: column;

    .button {
      margin-top: 1rem;
    }
  }

  .friendName {
    font-size: 1.25rem;
    color: var(--text-secondary-color);
  }
}

.adminSection {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 1.5rem;
}
