.userInfo {
  display: flex;
  align-items: center;
  gap: 8rem;
  margin-top: 2.5rem;

  .infoBlock {
    text-align: center;
    display: flex;
    flex-direction: column;

    .button {
      margin-top: 1rem;
    }
  }

  .friendName {
    font-size: 1.25rem;
    color: var(--text-secondary-color);
  }
}