.box {
  @apply px-12 py-6 rounded-xl z-10;
  background: rgba(white, 0.95);
  width: 420px;

  :global(.dark) & {
    background: rgba(black, 0.8);
  }

  .title {
    @apply text-center mb-5 mt-3;
  }

  .alert {
    @apply mb-5;
  }

  .link {
    @apply ml-2;
    color: var(--primary-color);
  }
}