.box {
  padding: 1.5rem 3rem;
  border-radius: var(--round-lg);
  z-index: 10;
  background: rgba(white, 0.95);
  width: 420px;

  :global(.dark) & {
    background: rgba(black, 0.8);
  }

  .title {
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
  }

  .input {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  .alert {
    margin-bottom: 1.25rem;
  }

  .link {
    margin-left: 0.5rem;
    color: var(--primary-color);
  }

  .button {
    display: block;
    margin: 0 auto;
  }

  .register {
    margin-top: 1.25rem;
    font-size: 1.25rem;
  }
}