.user {
  @apply flex items-center px-5 py-3 rounded-xl gap-5 cursor-pointer transition-colors;
  border: 3px solid var(--active-bg-color);
  flex: 0 0 32%;

  &:hover {
    background: rgba(var(--inveted-bg-color), 0.1);
  }

  .username {
    @apply mb-2 text-3xl;
  }

  .field {
    @apply block mb-1;
    color: var(--text-secondary-color);

  }

}