:root {
  --primary-color: #ff3838;
  --primary-thin-color: rgba(255, 56, 56, 0.3);
  --primary-dark-color: #E3000E;

  --cyan-color: rgba(38, 208, 187,1);
  --yellow-color: rgba(226, 226, 68, 1);
  --pink-color: rgba(217, 80, 217, 1);
  --green-color: rgba(38, 174, 38, 1);
  --blue-color: rgba(41, 41, 208, 1);

  --transition-duration: 150ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition: var(--transition-duration) var(--transition-timing-function);

  --round-sm: 0.3rem;
  --round-lg: 0.6rem;
  --round-xl: 1rem;

  --sidebar-toggler-height: 50px;

  --burger-menu-width: 200px;
}
