.tags {
  display: flex;
  gap: 1.25rem;
  margin-top: 1.25rem;

  .tagsTitle {
    font-size: 1.5rem;
  }

  .tagList {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;

    .tag {
      display: block;
      padding: 0.25rem 1.25rem;
      border-radius: var(--round-lg);
      transition: background var(--transition);
      cursor: pointer;
      background: var(--active-bg-color);
      color: var(--text-secondary-color);

      &:hover {
        background: var(--secondary-bg-color);
      }
    }
  }
}