.tags {
  @apply flex gap-5 mt-5;

  .tagsTitle {
    @apply text-2xl;
  }

  .tagList {
    @apply flex gap-2 items-center flex-wrap;

    .tag {
      @apply block px-5 py-1 rounded-full transition-colors cursor-pointer;
      background: var(--active-bg-color);
      color: var(--text-secondary-color);

      &:hover {
        background: var(--secondary-bg-color);
      }
    }
  }
}