.outer {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 1.25rem;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity var(--transition);
    background: rgba(var(--inveted-bg-color), 0.2);
  }

  &:hover .background {
    opacity: 1;
  }

  .icons {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: 1.25rem;
    background: var(--bg-color);
    color: var(--inveted-bg-color);
  }

  .liked {
    color: var(--primary-color);
  }
}