.outer {
  @apply block relative mb-5 cursor-pointer;

  .background {
    @apply absolute top-0 right-0 bottom-0 left-0 opacity-0 transition-opacity;
    background: rgba(var(--inveted-bg-color), 0.3);
  }

  &:hover .background {
    @apply opacity-100;
  }

  .icons {
    @apply absolute top-2 right-2 px-3 py-2 text-xl;
    background: var(--bg-color);
    color: var(--inveted-bg-color);
  }

  .liked {
    color: var(--primary-color);
  }
}