.navlink {
  padding: 0.25rem;
  border-bottom: 0.125rem solid transparent;
  font-size: 1.25rem;
  transition: border-bottom-color var(--transition);
  &:hover {
    border-color: var(--primary-color);
  }

  @media (max-width: 576px) {
    text-align: right;
    padding: 1rem;
    display: block;
    width: 100%;
    font-size: 1.75rem;
  }
}

.active {
  border-color: var(--primary-color);
  @media (max-width: 576px) {
    border-color: transparent;
    background-color: var(--active-bg-color);
  }
}

.li {
  @media (max-width: 576px) {
    width: 100%;
  }
}