.footer {
  @apply flex items-center justify-between py-4 px-10;
  background: var(--navbar-bg-color);
  box-shadow: 0px -3px 8px 0px rgba(var(--inveted-bg-color), 0.1);
  flex: 0 0 auto;

  :global(.dark) & {
    box-shadow: none;
  }
}

.social {
  @apply flex gap-4 items-center text-xl;
}

.copyright {
  @apply text-xl;
}