.canvas {
  @apply absolute left-0 top-0;
}

.range {
  -webkit-appearance: none;
  @apply w-full rounded-lg my-3;
  background: var(--active-bg-color);
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply w-5 h-5 rounded-full;
  background: var(--primary-color);
}


