.canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.range {
  -webkit-appearance: none;
  width: 100%;
  border-radius: var(--round-lg);
  margin: 0.75rem 0;
  background: var(--active-bg-color);
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background: var(--primary-color);
}


