.user {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  border: 0.125rem solid var(--active-bg-color);
  border-radius: var(--round-lg);
  gap: 1.25rem;
  flex: 0 0 32%;

  .userInfo {
    flex: 1;
  }

  .username {
    margin-bottom: 0.5rem;
    width: 100%;
    height: 1.5rem;
  }

  .avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }

  .field {
    display: block;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 1rem;
  }

}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.75rem;
  @media (max-width: 1500px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 576px) {
    padding: 0 30px;
    grid-template-columns: repeat(1, 1fr);
  }
}