.images {
  @apply grid w-full gap-5;
  max-height: 600px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  .img:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .img:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .img:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .img:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
  }

}

.img {
  @apply relative;

  &:before {
    content: "";
    @apply absolute top-0 bottom-0 left-0 right-0;
    background: rgb(0,0,0);
    background: linear-gradient(25deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 80%);
  }

  img {
    @apply w-full h-full object-cover;
  }

  .tag {
    @apply absolute left-5 bottom-5 text-light-80 text-3xl;
  }
}