.box {
  display: flex;
  gap: 1.25rem;
  margin-top: 1.75rem;

  .title {
    font-size: 1.5rem;
  }

  .colors {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;

    .color {
      display: block;
      padding: 0.25rem 1.25rem;
      border-radius: var(--round-lg);
      cursor: pointer;
    }
  }
}

@media (max-width: 1500px) {
  .box {
    .title {
      font-size: 1.25rem;
    }
    .colors {
      .color {
        padding: 0.125rem 1rem;
      }
    }
  }
}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}